---
import '../styles/global.css';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Iva's MasterClass"
---

<BaseLayout pageTitle={pageTitle}>
	<h2>Woohoo!</h2>
</BaseLayout>

<style>
	h1 {
	  color: purple;
	  font-size: 4rem;
	}
</style>
